<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    {{>navbar}}
    <h1>La Login Pani Vayexa</h1>
    <h1>Front End Garna Jheulayo</h1>
    <h1>Dashboard Page ho hai</h1>
  
</body>

</html>